<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% block content%}


<h1> Fill the form </h1>

<h2> {{ error }} </h2>
<h2> {{ message }} </h2>
<form method='POST' style="width: 500px; margin: auto">
    {% csrf_token %}
   <label for="name">Name</label>
   <input type="text" id="name" class="form-control">
   <label for="favouriteColour">Favourite Colour</label>
   <input type="text" id="favouriteColour" class="form-control">
   <label for="cat">Cat</label>
   <input type="radio" id="cat" name="animal"><br>
   <label for="dog">Dog</label>
   <input type="radio" id="dog" name="animal"><br>
    <button type='Submit'>Submit</button>
</form>

{% endblock %}